@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #121212;
}

body {
  margin: 0;
  padding: 0 10px;
  background: #f5f6fa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
